---
title: Home
layout: home
description:   我等了你四个夏天，你没有信守承诺，你再也没有回来。风筝死了，我将它埋葬在这里，谁知道呢，也许有一天你会找到它。
---
<style>
    .headT {
        height: 40px;
        background-color: #e1e1e130;
        padding: 0px 30px;
        margin: 0px -30px
    }
</style>
<div class="headT">
    <div style="float: left">
        <p>碎言</p>
    </div>
    <div onclick="window.open('syyd','_self')" style=" float:right;; cursor: pointer;">
        <p>☞更多内容</p>
    </div>
</div>

<section class="post">
    {% for post in site.categories.talkabit %}
    {% assign i2 = i2 | plus: 1 %}
    {% if i2 < 2 %}

    <div class="post-list__meta">
        <time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__date">{{ post.date | date: "%F"
            }}
        </time>
    </div>
    {{post.content }}

    {% else %}
    {% break %}
    {% endif %}
    {%- endfor -%}

</section>
<div style="border-bottom: 1px solid #e1e1e1 ; margin: 20px -30px ;"></div>
<div class="headT">
    <div style="float: left">
        <p>读书</p>
    </div>
    <div onclick="window.open('contents/#读书笔记','_self')" style=" float:right;; cursor: pointer;">
        <p>☞更多内容</p>
    </div>
</div>
<section class="post">
    {% for post in site.categories.rmk %}
    {% assign i = i | plus: 1 %}
    {% if i < 2 %}

    <h4>{{post.title }} </h4>


    <div>
        <div class="post-list__meta">
            <time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__date">{{ post.date | date: "%F"
                }}

            </time>
        </div>
        {{post.content }}
    </div>
    {% else %}
    {% break %}
    {% endif %}
    {%- endfor -%}

</section>

