<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {%- if site.github_username -%}<li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg
                class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
              </svg> <span class="username">{{ site.github_username| escape }}</span></a></li>{%- endif -%}
          {%- if site.twitter_username -%}<li><a
              href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
              </svg> <span class="username">{{ site.twitter_username| escape }}</span></a></li>{%- endif -%}
          {%- if site.weibo_username -%}
          <li><a href="https://www.weibo.com/{{ site.weibo_username_id| cgi_escape | escape }}"><svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#weibo' | relative_url }}"></use>
              </svg> <span class="username">
                {{ site.weibo_username| escape }}</span></a></li>{%- endif -%}
        </ul>
        <!-- 社交账户链接推特、微博、GitHub -->
      </div>
      <div class="footer-col footer-col-3">
        <p>&emsp;&emsp; {{- site.description | escape -}}</p>
      <!-- 为中文文段加了两个空格 -->
      </div>
    </div>

  </div>

</footer>
