<nav class="cover-navigation navigation--social">
  <ul class="navigation">
    <li class="navigation__item_social">
      <a href="//www.youtube.com/channel/{{site.social.youtube}}" rel="author" title="Youtube" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/xx025/xx025.github.com/images/youtube.svg">
      </a>
    </li>
    <li class="navigation__item_social">
      <a href="//www.weibo.com/{{site.social.weibo}}" rel="author" title="Weibo" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/xx025/xx025.github.com/images/weibo.svg">
      </a>
    </li>
    <li class="navigation__item_social">
      <a href="//twitter.com/{{site.social.twitter}}" rel="author" title="Twitter" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/xx025/xx025.github.com/images/twitter.svg">
      </a>
    </li>
    <li class="navigation__item_social">
      <a href="/feed.xml" rel="author" title="Subscribe" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/xx025/xx025.github.com/images/rss.svg">
      </a>
    </li>
  </ul>
</nav>