<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " zh " }}">
{%- include head.html -%}

<body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
            <span class="post-meta">{{"|" }}</span>
            <a class="post-meta" href="https://github.com/xx025/xx025.github.com/blob/master/posts/">
              查看源码
            </a>
        </div>
    </main>
    {%- include footer.html -%}
</body>

</html>