---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
</article>
<div class="home">
  {{ content }}
  {%- if site.categories.datamining.size > 0 -%}
  <!--  {% increment showfulltext3 %} -->
  <!-- 定义一个变量用于显示第一篇文章的全文-->
  <ul class="post-list">
    {%- for post in site.categories.datamining -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title| escape }}
        </a>
      </h3>
      {% if showfulltext3 < 2 %}
      {{post.content}}
      {% endif %}

      {% if showfulltext3 >= 2 %}
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
      {% endif %}
    </li>
    <!-- {% increment showfulltext3 %} -->
    <!-- 变量自增1 -->
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>