---
layout: default
---


<style>
    ol.post-list {
        width: 100% !important;
    }
</style>
<div class="post">
    <ol class="post-list">
        {% for post in site.categories.talkabit %}
        <li>
            <div class="post-list__meta">
                <time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__date">{{
                    post.date | date: "%F"}}
                </time>
            </div>
            <section class="post">
                {{ post.content }}
            </section>


        </li>
        {% endfor %}
    </ol>
</div>
